body {
	font-family: 'Montserrat', sans-serif;
	overflow: auto;
	min-height: 100vh;
}

.container {
	margin: 0 auto;
	max-width: 1300px;
	padding: 0 50px;

	@media screen and (max-width: 960px) {
		padding: 0 10px;
	}
}

.btn-reset {
	border: none;
	background: none;
	padding: 0;
	cursor: pointer;
}

.home {
	display: flex;
	flex-direction: column;
}

.main {
	position: relative;
}
