body {
	font-family: 'Montserrat', sans-serif;
	overflow: auto;
	min-height: 100vh;
}

.container {
	margin: 0 auto;
	max-width: 1300px;
	padding: 0 50px;

	@media screen and (max-width: 960px) {
		padding: 0 10px;
	}
}

.btn-reset {
	border: none;
	background: none;
	padding: 0;
	cursor: pointer;
}

.home {
	display: flex;
	flex-direction: column;
}

.main {
	position: relative;
}

.subtitle {
	font-size: 26px;
	font-weight: 700;
	line-height: 110%;

	@media screen and (width > 480px) {
		font-size: 36px;
	}

	@media screen and (max-width > 640px) {
		font-size: 42px;
	}
}
.fade-enter-active,
.fade-leave-active {
	transition: transform 3s;
}
.fade-enter,
.fade-leave-to {
	transform: translateY(-100px);
}
